@using Web.Essentials.Mvc.Models
@model UserModel  
@{  
	ViewData["Title"] = "ユーザー作成";  
}  

@section Styles {  
	<link rel="stylesheet" href="~/css/user/common.css" asp-append-version="true" />  
}  

<form asp-controller="User" asp-action="Create" method="post">  
	<div class="formContainer">  
		<div>  
			<label asp-for="Username"></label>  
			<input asp-for="Username" />
			<span asp-validation-for="Username" class="text-error"></span>  
		</div>  
		<div>  
			<label asp-for="Email"></label>
			<input asp-for="Email" />
			<span asp-validation-for="Email" class="text-error"></span>  
		</div>  
		<div>  
			<label asp-for="Password"></label>
			<input asp-for="Password" />  
			<span asp-validation-for="Password" class="text-error"></span>  
		</div>  
		<div>  
			<label asp-for="ConfirmPassword"></label>
			<input asp-for="ConfirmPassword" />
			<span asp-validation-for="ConfirmPassword" class="text-error"></span>  
		</div>  

		<div>  
			<label asp-for="BirthDate"></label>
			<input asp-for="BirthDate" />
			<span asp-validation-for="BirthDate" class="text-error"></span>  
		</div>  

		<fieldset>
			@* legendタグにはsp-forは無効なので、InnerTextに直接出力 *@
			<legend>@Html.DisplayNameFor(x => x.Address)</legend>

			<div>  
				<label asp-for="Address.Prefecture"></label>
				<select asp-for="Address.Prefecture" asp-items="Model.Prefectures"></select>  
				<span asp-validation-for="Address.Prefecture" class="text-error"></span>  
			</div>  

			<div>  
				<label asp-for="Address.City"></label>  
				<input asp-for="Address.City" />
				<span asp-validation-for="Address.City" class="text-error"></span>  
			</div>  

			<div>  
				<label asp-for="Address.AddressLine"></label>
				<input asp-for="Address.AddressLine" />
				<span asp-validation-for="Address.AddressLine" class="text-error"></span>  
			</div>  
		</fieldset>  
		
		<div>  
			<p asp-for="Gender"></p>
			<div class="radio-group">  
				<label>
					<input type="radio" asp-for="Gender" value="@Gender.Male">
					男性
				</label>
				<label>
					<input type="radio" asp-for="Gender" value="@Gender.Female">
					女性
				</label>
				<span asp-validation-for="Gender" class="text-error"></span>  
			</div>  
		</div>  

		<button type="submit">登録</button>  
	</div>  
</form>  