/* 全体のbodyスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* コンテンツ全体のラッパ */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

/* コンテナ */
.container {
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ラベルの共通スタイル */
label {
    display: block;
    font-weight: bold;
}

/* 段落 */
p {
    margin: 0;
}

/* エラーテキストのスタイル */
.text-error {
    color: firebrick;
    font-size: 0.9em;
/*    margin-top: 5px;*/
}